@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Oxygen:wght@700&family=Poppins:wght@300;400;700&family=Raleway:wght@100;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



.btn {
    border: none;
    padding: 0 20px;
    height: 40px;
    background-color: orange;
    border-radius: .2rem;
    cursor: pointer;
}

.active {

    color: orange;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(217, 141, 0, 0.945);
}


.navig {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    height: 3.75rem;
    justify-content: space-between;
    box-shadow: 0 0.125rem 0.125rem 0.125rem rgba(9, 9, 9, 0.23);

    .logo {
        color: orange;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;
    }

    ul {
        display: flex;

        li {
            list-style: none;
            padding: 1rem;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    .active {

        color: orange;
        text-decoration: none;
    }

    .link {
        text-decoration: none;
        color: black;
    }

    svg {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
    }





    li:hover {
        cursor: pointer;
    }

}


.hero {
    margin: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 0, 9rem;
    font-size: 3rem;

    .img {
        width: -20%;
        height: -60%;

        img {
            width: fit-content;
            height: fit-content;
        }
    }

    .home {
        text-align: center;
        padding: 0 1rem;

        span {
            color: orange;
            text-decoration: none;

        }

    }

    .banner {
        font-size: 2rem;
        font-style: italic;
    }
}

.product {
    margin: 4rem 4rem;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;

    &_banner {
        border: .1rem solid orange;
        border-radius: .5rem;
        width: 20rem;

        .img_url {
            padding: 1rem 0;
            text-align: center;

            img {
                width: 18rem;
                height: 12rem;
            }
        }

        .txt {
            padding: 0 1rem;

            .name {
                text-align: center;
                font-weight: 700;
            }

            span {
                font-weight: 700;
            }
        }


    }
}

.service {
    h1 {
        text-align: center;
    }

    .services {
        display: grid;
        grid-gap: 4rem;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        margin: 2rem 4rem;


        &-banner {
            background-color: rgba(128, 128, 128, 0.353);
            border-radius: .5rem;
            width: 20rem;
            padding: 1rem 0;

            img {
                width: 18rem;
                height: 12rem;
            }
        }
    }
}

.login {
    font-family: poppins;

    &_banner {
        box-shadow: 0 0.125rem 0.125rem 0.125rem rgba(9, 9, 9, 0.23);
        border-radius: .5rem;
        border: .1rem solid orange;
        width: 25.8125rem;
        text-align: left;
        margin: auto;
        padding: 1rem 0;

        h3 {
            padding: 0 4rem;
        }

        p {
            padding: 0 4rem;
        }

        .btn {
            margin: 0 4rem;
            font-weight: 700;
            width: 73%;
        }



        &_inner {
            align-self: auto;
            margin: auto;

        }

        input {
            border-radius: .3rem;
            width: 18.4375rem;
            height: 1.75rem;
            border: none;
            border-bottom: 0.125rem solid orange;
        }

        .label {
            font-size: 0.888rem;
            text-align: left;
            padding: 0 4rem;
        }
    }


    .confirm {
        display: flex;
        align-items: center;
        // font-size: 1rem;

        a {
            color: orange;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

.signup {
    font-family: poppins;
    margin: 1rem 0;


    &-banner {

        border-radius: .5rem;
        border: .025rem orange solid;
        box-shadow: 0 0 0.125rem 0.125rem rgba(9, 9, 9, 0.23);
        width: 30.8125rem;
        text-align: left;
        margin: auto;
        padding: 2rem;

        h1 {
            text-align: center;
        }


        button {
            width: 100%;
            margin: 2rem 0;
            font-weight: 700;
        }

        .confirm {
            display: flex;
            justify-content: center;

            a {
                color: orange;
                text-decoration: none;
                font-weight: 700;
                margin: 0 4rem;
            }
        }
    }

    &-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .5rem;
        align-self: auto;
        text-align: left;
        margin: auto;


        input {
            display: flex;
            width: 13.4375rem;
            height: 2.5rem;
            border-radius: .3rem;
            border: none;
            box-shadow: 0 0 0.125rem 0 rgba(9, 9, 9, 0.23);
            border-bottom: 0.125rem solid orange;
            margin: 1rem 0;
        }
    }


    label {
        font-weight: 500;
        font-size: 0.888rem;
    }




    h3 {
        text-align: center;
    }



    .gender {
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
}


.error {
    color: red;
    text-align: center;
}

@media screen and (max-width: 530px) {


    .navig {
        nav {
            display: none;
            position: absolute;
            background-color: rgba(128, 128, 128, 0.449);
            left: 0;
            z-index: 1;
            top: 3.75rem;

            ul {
                flex-direction: column;
            }
        }

        svg {

            display: block;
        }

        .nav-display {
            display: block;
        }

    }

    .hero {
        text-align: center;

        img {
            display: none;
        }
    }


    .product {
        display: grid;
        grid-gap: .1rem;
        grid-template-columns: 1fr 1fr 1fr;

        &_banner {
            background-color: rgba(128, 128, 128, 0.353);
            border-radius: .5rem;
            width: 10rem;

            .img_url {
                padding: 1rem 0;
                text-align: center;

                img {
                    width: 9rem;
                    height: 6rem;
                }
            }

            .txt {
                padding: 0 1rem;

                .name {
                    text-align: center;
                    font-weight: 500;
                }

                span {
                    font-weight: 700;
                }
            }
        }
    }


}